<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper animated fadeIn">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Creacion de proyectos</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Creacion de proyectos</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Proyectos</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" class="form-control" placeholder="Nombre Proyecto" [(ngModel)]="proyectos.proyecto">
                        </div>
                        <div class="col-lg-2 col-lg-2">
                            <input type="text" class="form-control" placeholder="Importe">
                        </div>
                        <div class="col-lg-1 col-lg-2">
                            <select id="inputState" class="form-control">
                            <option selected>--Estado</option>
                            <option>Activo</option>
                            <option>Inactivo</option>
                          </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            Fecha Inicio<input type="date" class="form-control" placeholder="Fecha Inicio">
                        </div>
                        <div class="col">
                            Fecha Cierre<input type="date" class="form-control" placeholder="Fecha Cierre">
                        </div>
                        <div class="col">
                            Fecha Estimada<input type="date" class="form-control" placeholder="Fecha Cierre">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <select id="inputState" class="form-control">
                                            <option selected>--Usuario</option>
                                            <option>Usuario</option>
                                          </select>
                        </div>
                        <div class="col-lg-4">
                            <select id="inputState" class="form-control">
                                                <option selected>--Cliente</option>
                                                <option>  </option>
                                              </select>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg" (click)="SaveProyecto()">Crear proyecto</button>
                </form>
                <!----------------------------Creando tabla-->
                <br>
                <br>
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Importe</th>
                            <th>Estatus</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Cierre</th>
                            <th>Fecha Estimada</th>
                            <th>Usuario responsable</th>
                            <th>Cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proyect of proyects">
                            <th>{{proyect.Proyecto}}</th>
                            <th>{{proyect.Estatus}}</th>
                            <th>{{proyect.FechaInicio}}</th>
                            <th>{{proyect.FechaCierre}}</th>
                            <th>{{proyect.FechaEstimada}}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Importe</th>
                            <th>Estatus</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Cierre</th>
                            <th>Fecha Estimada</th>
                            <th>Usuario responsable</th>
                            <th>Cliente</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Footer
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>